body {
  background: #F3E8FF;
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 1.75;
  color: #4C3A51;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: 'Cabin', Sans-Serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 1px;
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
  color: #EB455F;
}
h2,
h3 {
  color: #2B3467;
}
h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  color: #041562;
}
a {
  text-decoration: none;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
}
.btn {
  cursor: pointer;
  color: #AEE2FF;
  background: #EB455F;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
}
.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #f0f4f8;
  border: 1px solid #bcccdc;
}

form {
  width: 90vw;
  max-width: 500px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: 0.3s ease-in-out all;
}

.loading {
  width: 4rem;
  height: 4rem;
  border: 10px solid #AEE2FF;
  border-radius: 50%;
  border-top-color: #EB455F;
  animation: spinner 2s linear infinite;
}

.loading-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
